/* Grid */

.container {
    margin: 0 auto;
    position: relative;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.column,
.columns {
    width: 100%;
    float: left;
}


@media screen and (min-width: 400px) {
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 48%; }
}

/* Flexible Grid */

.grid {
    width: 100%;
    float: left;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    .grid {
        width: 48%;
        margin-left: 4%;
    }

    .grid:nth-of-type(2n+1) { margin-left: 0; }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .grid {
        width: 30.6666666667%;
        margin-left: 4%;
    }
    .grid:nth-of-type(3n+1) { margin-left: 0; }

}

@media screen and (min-width: 1000px) {
    .grid {
        width: 22%;
        margin-left: 4%;
    }
    .grid:nth-of-type(4n+1) { margin-left: 0; }
}
